<div class="container">
  <h2>Add a new Celebrity</h2>
  <form action="/celebrities" method="POST">
    <div class="create-fields">
      <p>Name<input type="text" name="name"  placeholder=""></p>
      <p>Occupation<input type="text" name="occupation"  placeholder=""></p>
      <p>Catch phrase<input type="text" name="catchPhrase" placeholder=""></p>
    </div>
    <button class="submit-button">Submit</button>
  </form>
</div>